{% extends 'base.html.twig' %}

{% block title %}New Item{% endblock %}

{% block body %}
    <h1>Create new Item</h1>

    {{ include('item/_form.html.twig') }}

    <a href="{{ path('app_order_index', { 'id':order.id}) }}">back to list</a>
{% endblock %}
